<%= form_for(@user, :url =>{controller: "users",action: "create"}, method: :post) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :emp_id %><br>
    <%= f.text_field :emp_id,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mobile_no %><br>
    <%= f.text_field :mobile_no,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password,class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation,class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit',class: 'btn btn-primary' %>
  </div>
<% end %>
