<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Emp:</strong>
  <%= @user.emp_id %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @user.mobile_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>
