<p id="notice"><%= notice %></p>

<h1>Listing Shift Details</h1>

<table>
  <thead>
    <tr>
      <th>Shift name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_details.each do |shift_detail| %>
      <tr>
        <td><%= shift_detail.shift_name %></td>
        <td><%= shift_detail.start_time %></td>
        <td><%= shift_detail.end_time %></td>
        <td><%= shift_detail.description %></td>
        <td><%= shift_detail.user.name%></td>
        <td><%= link_to 'Show', shift_detail %></td>
        <td><%= link_to 'Edit', edit_shift_detail_path(shift_detail) %></td>
        <td><%= link_to 'Destroy', shift_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift detail', new_shift_detail_path %>

