<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  		<div class="navbar-header">
	  		<%= link_to 'Roster', root_path, class: "navbar-brand"%>
		</div>
	  <ul class="nav navbar-nav navbar-right">
		  <% if user_signed_in? %>
		  		<li><%= link_to 'Home' ,root_path, method: :get %></li>
		  		<li><%= link_to current_user.name ,edit_user_path(current_user), method: :get %></li>
		        <li><%= link_to 'Sign Out',destroy_user_session_path, method: :delete %></li>
		   <% else %>
		   		<li><%= link_to 'Log in' ,new_user_session_path, method: :get %></li>
			<% end %>
	   </ul>
   </div>
</nav>

	
			